assignment6/pgm3.xml

<?xml version = "1.0"  encoding = "utf-8"?>
<!DOCTYPE student_catalog [
<!ELEMENT student_catalog (student+)>
<!ELEMENT student (name, address, marks, hobbies)>
<!ELEMENT name (fname, lname, mname)>
<!ELEMENT address (houseno, streetname, cityname, state)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT hobbies (#PCDATA)>
]>
<?xml-stylesheet type="text/css" href="pgm3.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> pooja </xs:fname>
	<xs:lname> aaa </xs:lname>
	<xs:mname> D </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 202 </xs:houseno>
	<xs:streetname>  katpadi</xs:streetname>
	<xs:cityname> Udupi </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 80 </xs:marks>
   <xs:hobbies> reading </xs:hobbies>
  </xs:student>
</xs:student_catalog>
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> deeksha </xs:fname>
	<xs:lname> sss</xs:lname>
	<xs:mname> G </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 203 </xs:houseno>
	<xs:streetname> palimar </xs:streetname>
	<xs:cityname> udupi </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 99 </xs:marks>
   <xs:hobbies> dancing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
</xs:schema>